---
title: Golf Jewellery
---
{% extends "layouts/_layout.html" %}

{% block content %}
		
	{# partial example #}
	{% include "partials/_header.html" %}

	<main>

		<section class="product-sect">
			<div class="container">

				<div class="product-sect__wrap  product">

					<div class="product__slider">
						<div class="product__img-wrap">
							<img class="product__img" src="img/pic/product.jpg" alt="product" >
						</div>

						<div class="thumbs">
							<ul class="thumbs__list">
								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs 1"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs 2"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product-popup.png" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>

								<li class="thumbs__item">
									<a href="img/pic/product.jpg" class="thumbs__link"><img class="thumbs__img" src="img/pic/product-min.jpg" width="56" height="56" alt="thumbs"></a>
								</li>
								
							</ul>
						</div>
						
					</div>	

					<div class="product__descr">
						<h2 class="product__name  product-container">
							LOOKS WE LOVE
						</h2>

						<div class="product__code  product-container">
							Item# 190968NBS
						</div>

						<div class="product__price-wrap  product-container">
							<div class="product__price">150 PLN</div>
							<div class="product__btn-buy">
								<button class="btn-buy">ORDER NOW</button>
							</div>
						</div>

						<div class="product__characteristic  product-container">
							<p>WIRE BRACELET</p>
								<p>Graphic angles and clean lines blend to create the beautiful clarity of the Tiffany T collection. This bold and elegant bracelet embodies a modern aesthetic.</p>
								<p>–18k rose gold</p>
								<p>–Size medium</p>
								<p>–Fits wrists up to 6.25”</p>
								<br>
								<p>ALSO AVAILABLE</p>
								<br>
								<p>18k gold</p>
								<p>18k white gold</p>
							
						</div>

					</div>

				</div>

			</div>
		</section>

		<footer class="footer-page">

			<div class="header-page__title">
				<div class="header-page__link">Back to</div>	
				<h1 class="  main-title  decor-title">
					JEWELRY
				</h1>
			</div>

			<nav class="header-page__nav">
				<ul class="header-page__menu  main-menu">
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Engagement</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Jewelry</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Collection</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Swatches</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Accessories</a></li>
					<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Gifts</a></li>
				</ul>
			</nav>	

			<div class="footer-page__bottom">
				
			</div>

		</footer>

	</main>


{% endblock %}
