<header class="header-page">
	<div class="container">
		<div class="header-page__top">
			<ul class="main-menu">
				<li class="main-menu__item"><a href="#" class="main-menu__link">About goft</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link">Technologies</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link">Actuals</a></li>
			</ul>

			<ul class="main-menu  main-menu--service">
				<li class="main-menu__item"><a href="#" class="main-menu__link">Where to buy</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link">Contacts</a></li>
			</ul>
		</div>

		<div class="header-page__center">
			<div class="header-page__descr">
				Theperfect present
			</div>

			<div class="header-page__logo  decor-title">
				<a class="logo" href="#">
					<img class="logo__pic" width="184" height="183" src="img/pic/logo.png" alt="Logo Golf Jewellery">
				</a>
			</div>

			<div class="header-page__social">
				<ul class="social-list">
					<li class="social-list__item">
						<a class="social-list__btn  social-list__btn--pin" href="#" target="_blank" title="link pin"></a>
					</li>
					<li class="social-list__item">
						<a class="social-list__btn  social-list__btn--fb" href="#" target="_blank" title="link facebook"></a>
					</li>
					<li class="social-list__item">
						<a class="social-list__btn  social-list__btn--insta" href="#" target="_blank" title="link instagram"></a>
					</li>
				</ul>
			</div>
		</div>

		<nav class="header-page__nav">
			<ul class="header-page__menu  main-menu">
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Engagement</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Jewelry</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Collection</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Swatches</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Accessories</a></li>
				<li class="main-menu__item"><a href="#" class="main-menu__link  main-menu__link--category">Gifts</a></li>
			</ul>
		</nav>	

		<h1 class="header-page__title  main-title  decor-title">
			JEWELRY
		</h1>

	</div>
</header>
